<div class="info-container">
  <div class="info-card">
    <h3>{{ user.username }}</h3>
    <p>Name: {{ user.name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Phone: {{ user.phone }}</p>
    <p>Website: {{ user.website }}</p>
    <p>
      Address: {{ user.address.city }}, {{ user.address.street }},
      {{ user.address.suite }}
    </p>
    <button (click)="getPostsByUserId(user.id)">Posts</button>
    <button (click)="getTodosByUserId(user.id)">Todos</button>
    <button (click)="getAlbumsByUserId(user.id)">Albums</button>
  </div>
  <div class="user-posts-container" *ngIf="isPostsShow">
    <app-user-posts *ngFor="let post of posts" [post]="post"></app-user-posts>
  </div>
  <div class="user-posts-container" *ngIf="isTodosShow">
    <app-user-todos *ngFor="let todo of todos" [todo]="todo"></app-user-todos>
  </div>
  <div class="user-posts-container" *ngIf="isAlbumsShow">
    <app-user-albums
      *ngFor="let album of albums"
      [album]="album"
    ></app-user-albums>
  </div>
</div>
