<div *ngIf="arrayResponse">
  <div class="wrapper">
    <div class="day" *ngFor="let day of arrayResponse.day">

      <div class="city_day">
        <div *ngIf="forecastWeather.city">{{ forecastWeather.city.name }}</div>
        <div>{{ getDate(day.list[1].dt) }}</div>
      </div>

      <div *ngFor="let item of day.list" class="time">
        <div>{{ getTime(item.dt) }}</div>
        <img class="icon" src="{{ getImage(item.weather[0].icon) }}" alt="" />
        <div>{{item.weather[0].main}}</div>
        <div>{{ getRounding(item.main.temp) }} &deg;C</div>
      </div>

    </div>
  </div>
</div>