<div class="wrapper">
  <div>
    <div class="city">{{ currentWeather.name }}
    </div>
    <br>
    <div class="temp">{{ getRounding(currentWeather.main.temp) }} &deg;C
    </div>
    <br>
    <!-- {{getDate()}} -->
    <div>{{ getTimeAll(currentWeather.dt) }}</div>
    <img class="icon" src="{{ getImage(currentWeather.weather[0].icon) }}" alt="" />
    <div>{{ currentWeather.weather[0].main }}</div>
  </div>

  <div>
    <!-- <div class="temp">{{ getRounding(currentWeather.main.temp) }} &deg;C</div> -->
    <br>
    <div>Feels: {{ getRounding(currentWeather.main.feels_like) }} &deg;C</div>
    <div>Wind speed: {{getRounding(convertSpeedWind(currentWeather.wind.speed))}} км/ч</div>
    <div>Chance of rain: {{currentWeather.main.humidity}} %</div>
    <div>Sunrise: {{ getTime(currentWeather.sys.sunrise) }}</div>
    <div>Sunset: {{ getTime(currentWeather.sys.sunset) }}</div>

  </div>



</div>

<div>
  <button mat-raised-button (click)="getForecast(cityName)">Forecast for 5 days</button>
</div>

<app-five-day-forecast *ngIf="getFlag()" [forecastWeather]="forecastWeather" [arrayResponse]="arrayResponse"
  [cityName]="cityName"></app-five-day-forecast>