/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  // background: url("./assets/fn7.jpg") #a2dcea;
  background-color: #a2dcea;
}
